name = "canvas"
main = "worker/worker.ts"
compatibility_flags = [ "nodejs_compat" ]
compatibility_date = "2025-05-08"

[observability]
enabled = true

[dev]
port = 5172
ip = "0.0.0.0"

# Set up the durable object used for each tldraw room
[durable_objects]
bindings = [
    { name = "TLDRAW_DURABLE_OBJECT", class_name = "TldrawDurableObject" },
]

# Durable objects require migrations to create/modify/delete them
[[migrations]]
tag = "v1"
new_sqlite_classes = ["TldrawDurableObject"]

# We store rooms and asset uploads in an R2 bucket
[[r2_buckets]]
binding = 'TLDRAW_BUCKET'
bucket_name = 'canvas'
preview_bucket_name = 'canvas'
