name = "canvas-dev"
main = "worker/worker.ts"
compatibility_flags = [ "nodejs_compat" ]
compatibility_date = "2024-07-01"
route = "canvas-dev.seoltab.co/*"

[observability]
enabled = true

[dev]
port = 5172
ip = "0.0.0.0"

# Set up the durable object used for each tldraw room
[durable_objects]
bindings = [
    { name = "TLDRAW_DURABLE_OBJECT", class_name = "TldrawDurableObject" },
]

# Durable objects require migrations to create/modify/delete them
[[migrations]]
tag = "v1"
new_sqlite_classes = ["TldrawDurableObject"]

# We store rooms and asset uploads in an R2 bucket
[[r2_buckets]]
binding = 'TLDRAW_BUCKET'
bucket_name = 'canvas-dev-content'
preview_bucket_name = 'canvas-dev-content-preview'

[vars]
LIVEKIT_API_KEY="cf6e63e2-1067-4708-9225-ba705b235f25"
LIVEKIT_API_SECRET="7a1df1a6-9d55-4e76-a2ab-b985c4f370ac"
